<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coversal.plugin.wol"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="4" />
	<uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:icon="@drawable/wol"
        android:label="@string/app_name" >
        
        <service android:name=".WolAnnouncer">
            <intent-filter>
                <action android:name="coversal.intent.action.PROFILE" />
                <category android:name="Wake_On_Lan" />
            </intent-filter>
        </service>        
    </application>

</manifest>